#main {
    width: 500px;
    margin: 100px auto;
    border: 2px solid black;
}
#wrapper #main .screen, #wrapper #main .screen {
    padding: 20px;
    border: 1px solid black;
}
table{
    margin: 0 auto;
}
table td {
    border: 1px solid;
    padding: 36px 40px;
}
table td:hover {
    background-color: black;
    color:white;
}